.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 0 3rem;
}

.product-item {
    text-decoration: none;
    color: inherit;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    height: 300px;

}


.product-info {
    margin-top: 10px;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.product-price {
    font-size: 14px;
    color: #b12704;
}